    <!-- alert start -->
    <div class="alert alert-danger alert--page-top" role="alert">
        <div class="container container--smallpadding">
            <!-- icon-text start -->
            <span class="icon-text icon-text--no-margin icon-text--inline icon-text--middle   ">
                <span class="icon-text__icon  icon-text--inline__icon icon-text--middle__icon">
                    <img src="./assets/img/icon/icon_information--full.png" alt="" class="icon-text__icon__image   icon-text--inline__icon__image " />
                </span>
                <span class="icon-text__text icon-text--inline__text  ">
                    <span class="icon-text__text__content icon-text__text__content--title"><strong>Important Notices:</strong>
                        <span class="fwl">Bogus Bank Hotline Numbers & Authentication of Suspicious Phone Calls</span>
                    </span>
                </span>
            </span>
            <!-- icon-text end -->
        </div>
    </div>
    <!-- alert end -->
    <!-- alert start -->
    <div class="alert alert-info alert--page-top" role="alert">
        <div class="container container--smallpadding">
            <!-- icon-text start -->
            <span class="icon-text icon-text--no-margin icon-text--inline icon-text--middle   ">
                <span class="icon-text__icon  icon-text--inline__icon icon-text--middle__icon">
                    <img src="./assets/img/icon/icon_information--full.png" alt="" class="icon-text__icon__image   icon-text--inline__icon__image " />
                </span>
                <span class="icon-text__text icon-text--inline__text  ">
                    <span class="icon-text__text__content icon-text__text__content--title"><strong>Notice:</strong>
                        <span class="fwl">Dah Sing Bank Statement on Fraudulent Internet Websites</span>
                    </span>
                </span>
            </span>
            <!-- icon-text end -->
        </div>
    </div>
    <!-- alert end -->
    <!-- header ebanking start -->
    <div class="header--ebanking__wrapper">
        <div class="header--ebanking">
            <div class="container container--smallpadding">
                <div class="header--ebanking__logo">
                    <a href="#">
                        <img src="./assets/img/dsb_logo.svg" alt="dahsing bank">
                    </a>
                </div>
                <div class="header--ebanking__lang">
                    <a href="#">
                        中文
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- header ebanking end -->
    <!-- section start -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <!-- feature-slider start -->
                    <!-- new FeatureSlider(className: .featureSlider }); -->


                    <div class="feature-slider feature-slider--red  feature-slider--lazy featureSlider">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <div class="swiper-slide feature-slider__slide">
                                <!-- card start -->
                                <div class="card card--bgimg card--bgimg--gradient card--extraheight ">
                                    <div class="card__img">
                                        <img data-src="./assets/img/ebanking/img--banner--ebanking.png" alt="Card image cap" class="card-img-top lazy">


                                    </div>
                                    <div class="card__content">
                                        <div class="card-body">
                                            <h3 class="card-title font--l">
    		                		                                    Enjoy Seamless Experience with Dah Sing Digital Banking App.
    		                		                                </h3>
                                            <p>
                                                <a href="#">
                                                    <strong>
    		                		                                            Discover Now
    		                		                                        </strong>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- card end -->

                            </div>
                            <div class="swiper-slide feature-slider__slide">
                                <!-- card start -->
                                <div class="card card--bgimg card--bgimg--gradient card--extraheight ">
                                    <div class="card__img">
                                        <img data-src="./assets/img/ebanking/img--banner--ebanking.png" alt="Card image cap" class="card-img-top lazy">


                                    </div>
                                    <div class="card__content">
                                        <div class="card-body">
                                            <h3 class="card-title font--l">
    		                		                                    Enjoy Seamless Experience with Dah Sing Digital Banking App.
    		                		                                </h3>
                                            <p>
                                                <a href="#">
                                                    <strong>
    		                		                                            Discover Now
    		                		                                        </strong>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- card end -->

                            </div>
                            <div class="swiper-slide feature-slider__slide">
                                <!-- card start -->
                                <div class="card card--bgimg card--bgimg--gradient card--extraheight ">
                                    <div class="card__img">
                                        <img data-src="./assets/img/ebanking/img--banner--ebanking.png" alt="Card image cap" class="card-img-top lazy">


                                    </div>
                                    <div class="card__content">
                                        <div class="card-body">
                                            <h3 class="card-title font--l">
    		                		                                    Enjoy Seamless Experience with Dah Sing Digital Banking App.
    		                		                                </h3>
                                            <p>
                                                <a href="#">
                                                    <strong>
    		                		                                            Discover Now
    		                		                                        </strong>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- card end -->

                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                    <!-- feature-slider end -->

                    <p class="font--xn ffTimes">
                        eBanking Notices
                    </p>
                    <p>
                        <!-- arrow-link start -->
                        <a href="#" class="arrow-link ">
                            Enhancement of Internet Security Control for Dah Sing Website and Dah Sing Bank Mobile App
                        </a>
                        <!-- arrow-link end -->
                    </p>
                    <p>
                        <!-- arrow-link start -->
                        <a href="#" class="arrow-link ">
                            Implementation of Closing Call Auction by Shanghai Stock Exchange
                        </a>
                        <!-- arrow-link end -->
                    </p>
                    <p>
                        <!-- arrow-link start -->
                        <a href="#" class="arrow-link ">
                            Change of Small-value Transfer Transaction Limit
                        </a>
                        <!-- arrow-link end -->
                    </p>
                    <a href="#" class="red">See All</a>
                </div>
                <div class="col-6">
                    <div class="bg-lightWhiteGrey paddingWrapper">
                        <h1 class="ffTimes font--xxl">
    		                        Welcome
    		                    </h1>
                        <!-- tab start -->
                        <div class="tab">
                            <div class="tab__trigger__wrapper">
                                <!-- tab__trigger start -->
                                <a href="#" class="tab__trigger active" data-target-id="0">
                                    e-Banking Login
                                </a>
                                <!-- tab__trigger end -->
                                <!-- tab__trigger start -->
                                <a href="#" class="tab__trigger " data-target-id="1">
                                    i-Securities Login
                                </a>
                                <!-- tab__trigger end -->
                            </div>
                            <!-- tab__content start -->
                            <div class="tab__content active" data-content-id="0">
                                <!-- pWS_29_Desktop_Ebanking_Login_1_default start -->
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form__wrapper pWS_29_Desktop_Ebanking_Login_1_default" id="pWS_29_Desktop_Ebanking_Login_1_default" novalidate="true">
                                <!-- <form action="javascript:pWS_29_Desktop_Ebanking_Login_1_default.checkValidation();" class="form__wrapper pWS_29_Desktop_Ebanking_Login_1_default" id="pWS_29_Desktop_Ebanking_Login_1_default" novalidate="true"> -->
                                    <!-- input start -->
                                    <!--
    				                                    component: input
    				                                    type: text
    				                                    new object: new inputObj({ className: '.username' })
    				                                    -->
                                    <div class="input">
                                        <p class="input__label">Username</p>

                                        <label for="username" class="input__label input__label--hide"></label>
                                        <!--<input id="username" type="text" class="input__input username" />-->
                                        <input id="username" type="text" formControlName="username" class="input__input username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                            <div *ngIf="f.username.errors.required">Username is required</div>
                                        </div>


                                        <p class="input__error small"></p>

                                    </div>

                                    <!-- input end -->
                                    <!-- login-icontext start -->
                                    <div class="login-icontext float-right">
                                        <div class="login-icontext__link pushnotification">
                                            <!-- Alternative 1: Natvie Angular Function to JQuery -->
                                            <a [routerLink]="" (click)="gotoStepFunc('pWS_29_Desktop_Ebanking_Login_1_push')" class="">
                                            <!-- Alternative 2: Using JQuery directly from HTML -->
                                            <!-- <a href="javascript:gotoStepFunc('pWS_29_Desktop_Ebanking_Login_1_push');" class=""> -->
                                                <!-- icon-text start -->
                                                <span class="icon-text icon-text--no-margin icon-text--inline   ">
                                                    <span class="icon-text__icon  icon-text--inline__icon">
                                                        <img src="./assets/img/login/push-notification.png" alt="" class="icon-text__icon__image   icon-text--inline__icon__image " />
                                                    </span>
                                                    <span class="icon-text__text icon-text--inline__text  ">
                                                        <span class="icon-text__text__content icon-text__text__content--title icon-text__text__content--underline">Push Notification Login</span>
                                                    </span>
                                                </span>
                                                <!-- icon-text end -->
                                            </a>
                                        </div>
                                        <span class=" login-icontext__icon2 ">
                                            <a href="#">
                                                <img src="./assets/img/icon/icon--question-mark.png" alt="" class="icon-text__icon__image   icon-text--inline__icon__image ">
                                            </a>
                                        </span>
                                    </div>

                                    <!-- login-icontext end -->
                                    <!-- input start -->
                                    <!--
    				                                    component: input
    				                                    type: password
    				                                    new object: new inputObj({ className: '.password' })
    				                                    -->
                                    <div class="input">
                                        <p class="input__label">Password</p>

                                        <label for="password" class="input__label input__label--hide">Password</label>
                                        <!--<input id="password" type="password" class="input__input password" />-->
                                        <input id="password" type="password" formControlName="password" class="input__input password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                        </div>                                        



                                        <p class="input__error small"></p>

                                    </div>

                                    <!-- input end -->
                                    <p>
                                        <!-- button start -->
                                        <button id="passwordlogin" [disabled]="loading" class="button passwordlogin">
                                            <!-- icon-text start -->
                                            <span class="icon-text icon-text--no-margin icon-text--inline icon-text--button   ">
                                                <span class="icon-text__icon  icon-text--inline__icon">
                                                    <span class="icon-text__icon__icon-font icon-text--inline__icon__icon-font icon-lock">
                                                    </span>
                                                </span>
                                                <span class="icon-text__text icon-text--inline__text  ">
                                                    <span class="icon-text__text__content icon-text__text__content--title">Password Login</span>
                                                </span>
                                            </span>                                        
                                        </button>
                                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                       <!-- button start -->
                                    </p>
                                    <p class="text-center">
                                        <a href="#">Forgot Username or Passward?</a>
                                    </p>
                                </form>
                                <!-- pWS_29_Desktop_Ebanking_Login_1_default end -->
                                <!-- pWS_29_Desktop_Ebanking_Login_1_push start -->
                                <form action="javascript:pWS_29_Desktop_Ebanking_Login_1_push.checkValidation();" class="form__wrapper pWS_29_Desktop_Ebanking_Login_1_push" id="pWS_29_Desktop_Ebanking_Login_1_push" novalidate="true">
                                    <div class="row">
                                        <div class="col-6">
                                            <p>
                                                Username: <strong>user2020</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- push-notification start -->
                                    <div class="push-notification">
                                        <div class="push-notification__icon">
                                            <img src="./assets/img/icon/icon--circle-red-tick.png" alt="Push notification sent">
                                        </div>
                                        <div class='push-notification__text'>
                                            Push notification sent
                                            <a href='#' class="push-notification__link"><img src='./assets/img/icon/icon--question-mark.png' alt='about push notification'></a>
                                        </div>
                                        <div class="push-notification__resend">
                                            <a href='#' class='push-notification__resend'>Resend</a>
                                        </div>
                                    </div>
                                    <!-- push-notification end -->
                                    <div>1. Tap on notification on your phone</div>
                                    <p>2. Choose biometric or security code login</p>

                                    <p class="text-center">
                                        <a href="javascript:gotoStepFunc('pWS_29_Desktop_Ebanking_Login_1_default');">
                                            <!-- icon-text start -->
                                            <span class="icon-text icon-text--no-margin icon-text--inline   ">
                                                <span class="icon-text__icon  icon-text--inline__icon">
                                                    <span class="icon-text__icon__icon-font icon-text--inline__icon__icon-font icon-back-arrow">
                                                    </span>
                                                </span>
                                                <span class="icon-text__text icon-text--inline__text  ">
                                                    <span class="icon-text__text__content icon-text__text__content--title icon-text__text__content--underline">Back</span>
                                                </span>
                                            </span>
                                            <!-- icon-text end -->
                                        </a>
                                    </p>
                                </form>
                                <!-- pWS_29_Desktop_Ebanking_Login_1_push end -->
                                <!-- separate-line start -->
                                <div class="separate-line">
                                    <div class="separate-line__text bg-lightWhiteGrey">or</div>
                                </div>
                                <!-- separate-line end -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>
                                            <strong>QR Code Login</strong>
                                            <span class="login-icontext__icon2-large">
                                                <a href="#">
                                                    <img src="./assets/img/icon/icon--question-mark.png" alt="If you have question, please check." class="icon-text__icon__image   icon-text--inline__icon__image ">
                                                </a>
                                            </span>
                                        </p>
                                        <p class="fwl">
                                            1. Open DSB App
                                            <br> 2. Open QR Code Camera
                                            <br> 3. Scan and Login
                                        </p>
                                    </div>
                                    <div class="col-sm-6 text-right ">
                                        <!-- qr-code start -->
                                        <div class="qr-code">
                                            <p>
                                                <img src="./assets/img/ebanking/qr-code.png" alt="qr code img">
                                            </p>
                                            <p class="qr-code__text font--xs">
                                                Refresh in
                                                <span class="qr-code__time">25</span> s
                                            </p>
                                        </div>
                                        <!-- qr-code end -->
                                    </div>
                                </div>
                            </div>
                            <!-- tab__content end -->
                            <!-- tab__content start -->
                            <div class="tab__content " data-content-id="1">
                                i-Securities Login
                            </div>
                            <!-- tab__content end -->
                        </div>
                        <!-- tab end -->
                    </div>
                    <div class="bg-whiteNavyGrey paddingWrapper">
                        <h2 class="font--xn fwl">
    		                      Register for e-Banking
    		                      <span class="login-icontext__icon2-large">
    		                            <a href="#">
    		                                <img src="./assets/img/icon/icon--question-mark.png" alt="If you have question, please check." class="icon-text__icon__image   icon-text--inline__icon__image ">
    		                            </a>
    		                      </span>
    		                    </h2>
                        <p class="fwl">New or Re-issued Phone Banking PIN
                            <br>First-time Login to e-Banking Services </p>
                        <div class="d-flex justify-content-start">
                            <p class="marginRight15">
                                <!-- icon-text start -->
                                <span class="icon-text icon-text--no-margin icon-text--inline   icon-text--valigncenter">
                                    <span class="icon-text__icon  icon-text--inline__icon">
                                        <img src="./assets/img/icon/icon--tick.png" alt="" class="icon-text__icon__image   icon-text--inline__icon__image " />
                                    </span>
                                    <span class="icon-text__text icon-text--inline__text  ">
                                        <span class="icon-text__text__content icon-text__text__content--title"><strong>Fast</strong></span>
                                    </span>
                                </span>
                                <!-- icon-text end -->
                            </p>
                            <p class="marginRight15">
                                <!-- icon-text start -->
                                <span class="icon-text icon-text--no-margin icon-text--inline   icon-text--valigncenter">
                                    <span class="icon-text__icon  icon-text--inline__icon">
                                        <img src="./assets/img/icon/icon--tick.png" alt="" class="icon-text__icon__image   icon-text--inline__icon__image " />
                                    </span>
                                    <span class="icon-text__text icon-text--inline__text  ">
                                        <span class="icon-text__text__content icon-text__text__content--title"><strong>Secure</strong></span>
                                    </span>
                                </span>
                                <!-- icon-text end -->
                            </p>
                        </div>
                        <p class="mb--0">
                            <!-- button start -->
                            <button class="button button--secondary button--ouline">Register Now</button>
                            <!-- button start -->
                        </p>

                    </div>
                </div>
            </div>
            <p class="tnc grey xsmall mt20 fwl">
                By login into the service, I confirm that I have read, agreed and understood the
                <a href='#'>Terms and Conditions</a> governing this service,
                <a href='#'>Note to First Time User</a>,
                <a href='#'>FAQ</a>,
                <a href='#'>Internet Security</a> and '
                <a href='#'>Disclaimer and Privacy Policy Statement</a>'.
            </p>
        </div>
    </div>

    <!-- section end -->
    <!-- footer start -->
    <div class="footer footer--ebanking">
        <div class="container container--smallpadding">
            <div class="footer__sitemap">
                <div class="row">
                    <div class="col col-12 col-lg-4">
                        <p class="footer__sitemap__title"><strong>Dah Sing Bank</strong></p>
                        <ul class="footer__sitemap__list">
                            <li class="footer__sitemap__item">
                                <a href="#" class="footer__sitemap__link">About Us</a>
                            </li>
                            <li class="footer__sitemap__item">
                                <a href="#" class="footer__sitemap__link">Careers</a>
                            </li>
                            <li class="footer__sitemap__item">
                                <a href="#" class="footer__sitemap__link">Sitemap</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-12 col-lg-4">
                        <p class="footer__sitemap__title"><strong>Important Notices</strong></p>
                        <ul class="footer__sitemap__list">
                            <li class="footer__sitemap__item">
                                <a href="#" class="footer__sitemap__link">Regulatory Disclosures</a>
                            </li>
                            <li class="footer__sitemap__item">
                                <a href="#" class="footer__sitemap__link">Internet Security</a>
                            </li>
                            <li class="footer__sitemap__item">
                                <a href="#" class="footer__sitemap__link">System Maintenance Schedule</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <p class="footer__copyright">© Copyright. Dah Sing Bank, Limited 2000-2018. All rights reserved.</p>
        </div>
    </div>

    <!-- pagelocator start -->
    <div class="pagelocator">
        <div class="pagelocator__header">
            <div class="pagelocator__header__current">
                <p class="font--xs">
                    Section

                </p>
                <p class="current"></p>
            </div>
        </div>
        <div class="pagelocator__tigger"></div>
    </div>
    <!-- pagelocator end -->
    <!-- floating-area start -->
    <div class="floating-area">
        <a href="#" class="button button--inline floating-area__icon floating-area__icon--kashmirBlue"><img src="./assets/img/icon/icon--chat.png" alt="Chat with Dahsing"></a>
    </div>
    <!-- floating-area end -->
    <!-- footer end -->
    <!-- loading start -->
    <div class="loading generalLoading">
        <div class="loading__content">
            <div class="loading__icon">
                <p>
                    <img src="./assets/img/general_loading.gif" alt="The page is loading. Pleaccse wait." class="loading__img">
                </p>
            </div>
            <div class="loading__text">
                <p class="small"></p>
            </div>
            <div class="loading__processbar"></div>
        </div>
    </div>
    <!-- loading end -->