<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="logback.xsd">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%X{Slf4jMDCFilter.ClientIP}] [%X{Slf4jMDCFilter.UUID}] [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/logs/eb2-server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/logs/eb2-server_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %X{req.remoteHost} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>	

	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>

	<!-- Spring -->
	<logger name="org.springframework" level="ERROR" />
	<logger name="org.springframework.batch" level="INFO" />
	<logger name="org.springframework.batch.admin.jmx.BatchMBeanExporter" level="ERROR" />
	<logger name="org.springframework.batch.item" level="DEBUG" />
	<logger name="org.springframework.batch.core.listener.AbstractListenerFactoryBean" level="ERROR" />
	
	
	<!-- Quartz -->
	<logger name="org.quartz.core.QuartzSchedulerThread" level="ERROR" />
	<logger name="org.quartz.impl.jdbcjobstore.StdRowLockSemaphore" level="ERROR" />
	<logger name="org.springframework.scheduling.quartz.LocalDataSourceJobStore" level="ERROR" />


	<!-- Log4JDBC -->
	<logger name="jdbc.sqltiming" level="INFO" />
	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.resultsettable" level="OFF" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.connection" level="OFF" />
	<logger name="log4jdbc.debug" level="ERROR" />
	

	<!-- Others -->
	<logger name="org.jboss.logging" level="ERROR" />
	<logger name="org.apache.catalina" level="ERROR" />
	<logger name="org.apache.commons.configuration" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="freemarker.cache" level="ERROR" />
	<logger name="org.jooq" level="ERROR" />
	
	<!-- eb2.0 API -->
	<logger name="com.dsb.eb2" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>	
	<logger name="com.dsb.eb2.framework" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.dsb.eb2.api" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
</configuration>
