
<h1>Customer Profile</h1>

<!-- {{customer | json}} -->


<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>customerID</th>
				<th>ebid</th>
				<th>fullName</th>
				<th>sex</th>
				<th>dob</th>
				<th>mobileNo</th>
				<th>permEmail</th>
				<th>tempEmail</th>
				<th>ebankType</th>
				<th>staffInd</th>
				<th>frstRegDate</th>
				<th>reRegDate</th>
				<th>lstLogonSuccDate</th>
				<th>loginFailCnt</th>
				<th>lastLoginFailDate</th>
				<th>bioRemdrFlg</th>
				<th>status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{customer.CUST_ID}}</td>
				<td>{{customer.EBID}}</td>
				<td>{{customer.FULL_NAME}}</td>
				<td>{{customer.SEX}}</td>
				<td>{{customer.DOB}}</td>
				<td>{{customer.MOB_NUMBER}}</td>
				<td>{{customer.PERM_EMAIL}}</td>
				<td>{{customer.TEMP_EMAIL}}</td>
				<td>{{customer.EBANK_TYPE}}</td>
				<td>{{customer.STAFF_INDICATOR}}</td>
				<td>{{customer.FIRST_REGISTRATION_DATE}}</td>
				<td>{{customer.RE_REGISTRATION_DATE}}</td>
				<td>{{customer.LAST_LOGIN_SUCCESSFUL_DATE}}</td>
				<td>{{customer.LOGIN_FAIL_COUNT}}</td>
				<td>{{customer.LAST_LOGIN_FAIL_DATE}}</td>
				<td>{{customer.BIOMETRIC_REMINDER_FLAG}}</td>
				<td>{{customer.STATUS}}</td>
			</tr>
		</tbody>
	</table>
</div>


<p>
	<a [routerLink]="['/list']" routerLinkActive="active">List</a>
</p>
<p>
	<a [routerLink]="['/login']" routerLinkActive="active">Logout</a>
</p>